:root{
    --my-navbar-height: 5rem;
    --dark-drowpdown-link-active-bg: red !important;
}

.custom-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.icbg-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.neovis{
    height: 50vh;
}

.cytoscape{
    height: 80vh;
}

// .table-dataframe{
//     width: 100% !important;
//     /* border-collapse: separate !important; */

//     tbody th, th{
//         text-align: center;
//         border: 1px solid rgba(0, 0, 0, 0.2) !important;
//         font-weight: bold;
//         min-width: 110px !important;
//     }
//     tbody td, td{
//         text-align: left;
//         border: 1px solid rgba(0, 0, 0, 0.2) !important;
//         word-wrap: break-word;
//         vertical-align: top;
//         white-space: pre-line;
//     }
//     tbody th {
//         text-align: center;
//         vertical-align: middle;
//     }
//     .filter-input{
//         &::placeholder{
//             animation: floatText 5s infinite linear;
//         }
//         &:focus::placeholder{
//             animation: finalText 0.2s linear;
//         }
//     }
// }
@-webkit-keyframes floatText {
    0% {text-indent:100%;}
    100% {text-indent:-100%;}
}
@-webkit-keyframes finalText {
    from{text-indent:50%;}
    to{text-indent:0%;}
}

.table-dataframe{
    td:first-child, th{
        text-align: center !important;
        .id-badge{
            vertical-align: top;
            position: sticky;
            z-index: 4;
            top: 0;
        }
    }
    th, td{
        border: 1px solid rgba(0, 0, 0, 0.2) !important;
        border-collapse: collapse !important;
    }
    & li {
        word-wrap: break-word;
        white-space: pre-line;
    }
    &.text-wrap {
        tbody td, td {
            word-wrap: break-word;
            white-space: pre-line;
        }
    }
}

div.dataTables_scrollBody {
    border-left: none !important;
}

.dataTables_scrollBody {
    thead {
        visibility: hidden;
    }
}

.table-ef{
    tbody td, td{
        word-wrap: break-word;
        white-space: pre-line;
    }
}

// div.dt-button-collection with brother button.buttons-colvis

.buttons-colvis ~ .dt-button-collection {
    overflow: scroll !important;
    max-height: fill-available !important;
    max-height: 80% !important;
}

.h8 {
    font-size: .7rem;
}

.bg-Meta{
    background-color: $bg-meta-background !important;
}
.bg-Standard{
    background-color: $bg-standard-background !important;
}
.bg-Detailed{
    background-color: $bg-detailed-background !important;
}
.bg-domains{
    background-color: #07a081 !important;
}
.bg-High{
    background-color: #a01407 !important;
}
.bg-VeryHigh{
    background-color: #7b1107 !important;
}
.bg-Medium{
    background-color: #a05b07 !important;
}
.bg-Low{
    background-color: #93a007 !important;
}
.bg-VeryLow{
    background-color: #4fa007 !important;
}

.bg-capec{
    background-color: $bg-capec-background !important;
}
.bg-threat{
    background-color: $bg-threat-background !important;
}
.bg-macm{
    background-color: $bg-macm-background !important;
}
.bg-tool{
    background-color: $bg-tool-background !important;
}
.bg-methodology{
    background-color: $bg-methodology-background !important;
}
.bg-asset-types{
    background-color: $bg-asset-types-background !important;
}

.bg-macm-label{
    background-color: $bg-macm-label-background !important;
}

.bg-network{
    background-color: $bg-network-background !important;
}

.bg-shared{
    background-color: $bg-shared-background !important;
    border: 2px solid rgba(0, 0, 0, 0.332) !important;
}

.bg-time{
    background-color: $bg-time-background !important; 
    color: black;
}

.note{
    background-color: #a8d08d; /* Verde pastello */
    color: black;
}
.low{
    background-color: #f9f06b; /* Giallo pastello */
    color: black;
}
.medium{
    background-color: #f9c06b; /* Arancione pastello */
    color: black;
}
.high{
    background-color: #f96b6b; /* Rosso pastello */
    color: black;
}
.critical{
    background-color: #f83e3e; /* Rosso pastello */
    color: black;
}

.badge-macm-detail{
    font-size: 0.8rem;
}

.attack-body-bg{
    .accordion-body{
        background-color: rgba($color: #000000, $alpha: 0.15)
    }
}

.accordion-options{
    width: 100%;
    // margin: 15px auto;
    clear: both;
    float: left;
}

.accordion-options .btn{
    float: right;
}

.card-header[data-bs-toggle="collapse"] {
    cursor: pointer !important;
}
.card-header.collapsed .fa-chevron-down {
    transform: rotate(-90deg);
}
.fa-chevron-down{
    transition: all 0.3s ease-in-out;
}

code-input {
    & textarea, & pre{
        width: 100% !important;
    }
    height: 100px !important;
}

pre[class*=language-]{
    background: $gray-100 !important;
    border-radius: 10px !important;
}

.material-symbols-outlined{
    vertical-align: middle;
}

.footer {
    background-color: $white !important;
}

.scrollspy-container{
    height: 550px;
    overflow: auto;
}

.modal-body-text{
    white-space: pre-line;
    line-break: anywhere;
}

#navlinks-buttons {
    height: 100%;
    margin: 0 auto !important;
    width: 100%;
}

.sidebar {
    .sidebar-inner {
        height: 100vh;
    }
    .multi-level{
        .nav-link{
            padding-left: 2rem !important;
        }
    }
}

.button-spinner{
    padding-left: 10px;
}

.btn-loading {
    position: relative;
    overflow: hidden;
    transform: translateZ(0);

    place-items: center;
    color: #ffffff;
    cursor: wait;
    pointer-events: none;
}

@keyframes loading {
    0% {
        transform: translateX(25px);
    }
    100% {
        transform: translateX(-20px);
    }
}

.btn-loading > span {
    position: relative;
    z-index: 2;
}

.btn-loading::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    background: $btn-primary-loading-bg
    repeating-linear-gradient(
    60deg,
        transparent,
        transparent 10px,
        $btn-primary-loading-bg2  10px,
        $btn-primary-loading-bg2 20px
    );
    animation: loading 1s infinite linear;
}

.btn-ai {
    --border-radius: 5px;
    --border-width: 2px;
    position: relative;
    // border: 0;
    color: #fff;
    z-index: 1;
    border-radius: 6px;
    box-shadow: 0 0 2px 2px rgba(31, 38, 135, 0.37);
}

.btn-ai::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: -1%;
    top: -4%;
    width: 102%;
    height: 106%;
    padding: var(--border-width);
    border-radius: calc(var(--border-radius) + var(--border-width));
    background-image: conic-gradient(
        hsl(226, 81%, 64%),
        hsl(271, 81%, 64%),
        hsl(316, 81%, 64%),
        hsl(1, 81%, 64%),
        hsl(46, 81%, 64%),
        hsl(91, 81%, 64%),
        hsl(136, 81%, 64%),
        hsl(181, 81%, 64%),
        hsl(226, 81%, 64%)
    );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    mask-clip: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0) blur(2px);
    animation: rotate-hue linear 2s infinite;
    background-size: 100% 200%;
    background-position: 50% 50%;
    z-index: -1;
}

@keyframes rotate-hue {
    to {
        filter: hue-rotate(1turn) blur(2px);
    }
}

.btn-ai:hover {
    box-shadow: 0 0 8px 8px rgba(31, 38, 135, 0.37);
}

#notifications {
    .dropdown-menu{
        width: 50vw;
        max-width: 800px;
    }
    .notification-item{
        overflow-x: scroll;
    }
}

#notifications_icon:hover{
    animation: notification-shake 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes notification-shake {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    70% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-10deg);
    }
    90% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#my-navbar{
    position: fixed;
    z-index: 98;
    width: calc(100% - var(--max-sidebar-width));
    height: var(--my-navbar-height);
    padding-left: 1rem;
    padding-right: 1rem;
}

#toast-container{
    position: fixed;
    z-index: 99;
    top: var(--my-navbar-height);
    right: 1rem;
    overflow: scroll;
    max-height: calc(100vh - var(--my-navbar-height) - 1rem);
}

.body-content{
    margin-top: var(--my-navbar-height);
}

@media screen and (max-width: 992px) {
    #my-navbar{
        width: 100%;
        position: relative;
    }
    .body-content{
        margin-top: 0;
    }
    
}

.vseclab-link {
    display: flex;
    justify-content: center;
    .vseclab-text {
        width: 120px;
        height: 25px;
        svg {
            font-family: 'Natural Precision', sans-serif;
            width: inherit;
            height: inherit;
            transform: translate(5%, 0%);
            text {
                animation: textstroke 2s;
                stroke-width: .5;
                stroke: none;
                fill: white;
                font-size: 20px;
            }
        }
    }

    .vseclab-icon {
        width: 20px !important;
        height: 30px !important;
        svg {
            width: inherit !important;
            height: inherit !important;
            transform: translate(10%, 5%);
            display: flex;
            align-items: center;
            path {
                animation: iconstroke 2s;
                stroke-width: .5;
                stroke: none;
                fill: $secondary;
            }
        }
    }

    &:hover {
        text {
            stroke: $secondary !important;
            stroke-width: 1;
        }
        path {
            stroke: $white !important;
            stroke-width: 3;
        }
    }
}

@keyframes textstroke {
	0%   {
		fill: rgba($color: $gray-100, $alpha: 0);
        stroke: $secondary;
		stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: .5;
	}
	70%  {
        fill: rgba($color: $gray-100, $alpha: 0.5);
        stroke: $secondary;
    }
	80%  {
        fill: rgba($color: $gray-100, $alpha: 0.75);
        stroke: $secondary;
        stroke-width: .5;
    }
	100% {
        fill: $gray-100;
        stroke: rgba($color: $secondary, $alpha: 0);
		stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
	}
}

@keyframes iconstroke {
	0%   {
		fill: rgba($color: $secondary, $alpha: 0);
        stroke: $white;
		stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: .5;
	}
	70%  {
        fill: rgba($color: $secondary, $alpha: 0.5);
        stroke: $white;
    }
	80%  {
        fill: rgba($color: $secondary, $alpha: 0.75);
        stroke: $white;
        stroke-width: .5;
    }
	100% {
        fill: $secondary;
        stroke: rgba(255, 255, 255, 0); 
		stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
	}
}
