$color-mode-type: data;



@include color-mode(dark) {

    .plot_container{
        filter: invert(100%) hue-rotate(180deg);
    }

    .inverted {
        filter: invert(1) hue-rotate(180deg);
    }

    .card {
        background-color: $card-bg-dark;
        color: $card-color-dark !important;
        &.theme-settings {
            background-color: $gray-800 !important;
            .theme-settings-close {
                filter: invert(0);
            }
        }
    }

    .bg-time{
        background-color: $bg-time-background-dark !important; 
        color: white;
    }

    .table td, th{
        background-color: $table-bg-dark !important;
        color: $table-color-dark !important;
    }

    .form-control {
        background-color: $form-control-bg-dark !important;
        color: $form-control-color-dark !important;
        .form-control-placeholder {
            color: $form-control-placeholder-color-dark !important;
        }
        border-color: $form-control-border-color-dark !important;
        &:focus {
            
            box-shadow: 0 0 0 0.2rem $form-control-focus-border-color-dark !important;
        }
    }

    .input-group-text{
        background-color: $form-control-bg-dark !important;
        color: $form-control-color-dark !important;
        border-color: $form-control-border-color-dark !important;
    }

    .list-group {
        .list-group-item {
            background-color: transparent !important;
            color: $form-control-color-dark !important;
            border-color: $form-control-border-color-dark !important;
        }
    }

    .footer {
        background-color: $footer-bg-dark !important;
        color: $footer-color-dark !important;
    }

    .text-primary {
        color: $white !important;
    }
    

    .breadcrumb {
        background-color: transparent !important;
        .breadcrumb-item {
            &::before, a {
                color: $breadcrumb-divider-color-dark !important;
            }
            &.active {
                color: $breadcrumb-active-color-dark !important;
            }
        }
    }

    .dropdown-menu {
        background-color: $dropdown-bg-dark !important;
        color: $dropdown-color-dark !important;
        border-color: $dropdown-border-color-dark !important;
        box-shadow: $dropdown-box-shadow-dark !important;
        .dropdown-item {
            color: $dropdown-dark-link-color !important;
            &:hover, &:focus {
                color: $dropdown-dark-link-hover-color !important;
                background-color: $dropdown-dark-link-hover-bg !important;
            }
            &.active, &:active {
                color: $dropdown-dark-link-active-color !important;
                background-color: $dropdown-dark-link-active-bg !important;
            }
            &.disabled, &:disabled {
                color: $dropdown-dark-link-disabled-color !important;
                background-color: transparent !important;
            }
        }
        .dropdown-divider {
            background-color: $dropdown-dark-divider-bg !important;
        }
    }

    div.dtsp-panesContainer div.dtsp-searchPane div.dataTables_wrapper div.dataTables_scrollBody {
        background-color: red !important;
    }
    .modal {
        .modal-header {
            border-bottom-color: $modal-header-border-color-dark !important;
        }
        .modal-footer {
            border-top-color: $modal-footer-border-color-dark !important;
        }
        .modal-content {
            background-color: $modal-bg-dark !important;
        }
    }

    .pagination {
        .page-item {
            &.active {
                .page-link {
                    background-color: $pagination-dark-active-bg !important;
                    border-color: $pagination-dark-active-border !important;
                }
            }
            &.disabled {
                .page-link {
                    color: $pagination-dark-disabled-color !important;
                    background-color: $pagination-dark-disabled-bg !important;
                    border-color: $pagination-dark-disabled-border !important;
                }
            }
            .page-link {
                color: $pagination-dark-link-color !important;
                background-color: $pagination-dark-link-bg !important;
                border-color: $pagination-dark-link-border !important;
                &:hover, &:focus {
                    color: $pagination-dark-link-hover-color !important;
                    background-color: $pagination-dark-link-hover-bg !important;
                    border-color: $pagination-dark-link-hover-border !important;
                }
            }
        }
    }

    a {
        color: $alert-dark-link-color !important;
        &:hover, &:focus {
            color: $alert-dark-link-hover-color !important;
        }
        &.btn-secondary {
            color: var(--bs-btn-active-color) !important;
            &:hover, &:focus {
                color: var(--bs-btn-active-color) !important;
            }
        }
    }

    .accordion {
        .accordion-item{
            .accordion-button {
                background: $accordion-button-bg-dark !important;
                color: $accordion-button-color-dark !important;
                &:hover, &:focus {
                    background-color: $accordion-button-hover-bg-dark !important;
                    color: $accordion-button-hover-color-dark !important;
                }
                &.collapsed {
                    background: $accordion-button-collapsed-bg-dark !important;
                    color: $accordion-button-collapsed-color-dark !important;
                    &:hover, &:focus {
                        background-color: $accordion-button-collapsed-hover-bg-dark !important;
                        color: $accordion-button-collapsed-hover-color-dark !important;
                    }
                }
            }
            .accordion-body {
                color: $accordion-body-color-dark !important;
            }
        }
    }

    .nav-pills {
        .nav-link {
            border-color: $nav-pills-border-color-dark !important;
        }
    }

    .btn-outline-tertiary {
        @include button-outline-variant($tertiary-dark);
    }

    .form-floating {
        > .form-control:not(:placeholder-shown) {
            ~ label {
                &::after {
                    background-color: transparent !important;
                }
            }
        }
    }

    pre[class*=language-]{
        background: $gray-800 !important;
        border-radius: 10px !important;
        code {
            color: $white !important;
        }
    }

    .toast {
        background-color: $toast-background-color-dark !important;
        .toast-header {
            background-color: $toast-header-background-color-dark !important;
        }
    }

    .wiki-page {
        a {
            color: $tertiary-dark !important;
            &:hover, &:focus {
                color: $tertiary-dark-highlight !important;
            }
        }
    }

    .home-statistics {
        .card {
            background-color: $gray-600 !important;
        }
    }

    .text-capec{
        color: $capec-color-dark !important;
    }
    .text-threat{
        color: $threat-color-dark !important;
    }
    .text-macm{
        color: $macm-color-dark !important;
    }
    .text-tool{
        color: $tool-color-dark !important;
    }
    .text-methodology{
        color: $methodology-color-dark !important;
    }
    .text-asset-types{
        color: $asset-types-color-dark !important;
    }
    .text-protocols{
        color: $protocols-color-dark !important;
    }

    #macmDiagramDiv{
        select {
            background: $form-control-bg-dark !important;
            color: $form-control-color-dark !important;
        }
    }
    #macmInspectorDiv {
        background: $gray-800;
        border: 1px solid #333;
        border-radius: 6px;
    }
}