.neovis{
    height: 50vh;
}

// .table-dataframe{
//     width: 100% !important;
//     /* border-collapse: separate !important; */

//     tbody th, th{
//         text-align: center;
//         border: 1px solid rgba(0, 0, 0, 0.2) !important;
//         font-weight: bold;
//         min-width: 110px !important;
//     }
//     tbody td, td{
//         text-align: left;
//         border: 1px solid rgba(0, 0, 0, 0.2) !important;
//         word-wrap: break-word;
//         vertical-align: top;
//         white-space: pre-line;
//     }
//     tbody th {
//         text-align: center;
//         vertical-align: middle;
//     }
//     .filter-input{
//         &::placeholder{
//             animation: floatText 5s infinite linear;
//         }
//         &:focus::placeholder{
//             animation: finalText 0.2s linear;
//         }
//     }
// }
@-webkit-keyframes floatText {
    0% {text-indent:100%;}
    100% {text-indent:-100%;}
}
@-webkit-keyframes finalText {
    from{text-indent:50%;}
    to{text-indent:0%;}
}

.table-dataframe{
    td:first-child, th{
        text-align: center !important;
        .id-badge{
            vertical-align: top;
            position: sticky;
            z-index: 4;
            top: 0;
        }
    }
    th, td{
        border: 1px solid rgba(0, 0, 0, 0.2) !important;
        border-collapse: collapse !important;
    }
    & li {
        word-wrap: break-word;
        white-space: pre-line;
    }
    &.text-wrap {
        tbody td, td {
            word-wrap: break-word;
            white-space: pre-line;
        }
    }
}

.dataTables_scrollBody {
    thead {
        visibility: hidden;
    }
}

.table-ef{
    tbody td, td{
        word-wrap: break-word;
        white-space: pre-line;
    }
}

.bg-Meta{
    background-color: $bg-meta-background !important;
}
.bg-Standard{
    background-color: $bg-standard-background !important;
}
.bg-Detailed{
    background-color: $bg-detailed-background !important;
}
.bg-domains{
    background-color: #07a081 !important;
}
.bg-High{
    background-color: #a01407 !important;
}
.bg-VeryHigh{
    background-color: #7b1107 !important;
}
.bg-Medium{
    background-color: #a05b07 !important;
}
.bg-Low{
    background-color: #93a007 !important;
}
.bg-VeryLow{
    background-color: #4fa007 !important;
}

.bg-capec{
    background-color: $bg-capec-background !important;
}
.bg-threat{
    background-color: $bg-threat-background !important;
}
.bg-macm{
    background-color: $bg-macm-background !important;
}
.bg-tool{
    background-color: $bg-tool-background !important;
}

.bg-macm-label{
    background-color: $bg-macm-label-background !important;
}

.accordion-options{
    width: 100%;
    margin: 15px auto;
    clear: both;
    float: left;
}

.accordion-options .btn{
    float: right;
}

.card-header[data-bs-toggle="collapse"] {
    cursor: pointer !important;
}
.card-header.collapsed .fa-chevron-down {
    transform: rotate(-90deg);
}
.fa-chevron-down{
    transition: all 0.3s ease-in-out;
}

code-input {
    & textarea, & pre{
        width: 100% !important;
    }
    height: 100px !important;
}

pre[class*=language-]{
    background: $gray-100 !important;
    border-radius: 10px !important;
}

.material-symbols-outlined{
    vertical-align: middle;
}

.footer {
    background-color: $white !important;
}

.scrollspy-container{
    height: 550px;
    overflow: auto;
}

.modal-body-text{
    white-space: pre-line;
    line-break: anywhere;
}