// $primary: blue;

// Tags Input
$tags-input-border-color       : $gray-300 !default;
$tags-input-background-color   : $primary !default;

//  Popover
$popover-header-color         : $white !important;