// $primary: blue;

// Tags Input
$tags-input-border-color        : $gray-300 !default;
$tags-input-background-color    : $primary !default;

//  Popover
$popover-header-color           : $white !important;

$bg-secondary-color             : $dark !default;
$bg-capec-background            : #6C969D !default;
$bg-threat-background           : #A14A76 !default;
$bg-tool-background             : #C84C09 !default;
$bg-macm-background             : #044FC8 !default;

$bg-meta-background             : #052b68 !default;
$bg-standard-background         : #073f98 !default;
$bg-detailed-background         : #0b55cc !default;

$bg-macm-label-background       : #3968b2 !default;

$accordion-button-active-bg     : $gray-200 !important;
$accordion-border-color         : $gray-400 !important;

$font-sizes: (
    1: $font-size-base * 2.5,
    2: $font-size-base * 2,
    3: $font-size-base * 1.75,
    4: $font-size-base * 1.5,
    5: $font-size-base * 1.25,
    6: $font-size-base,
    7: $font-size-base * 0.875,
    8: $font-size-base * 0.75,
    9: $font-size-base * 0.625,
    10: $font-size-base * 0.5,
) !default;