{% extends "layouts/base-fullscreen.html" %}

{% block title %} Delete Account {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="custom-background bg">
            <canvas id="icbg-animation"></canvas>
        </div>
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <!-- <div class="row justify-content-center form-bg-image" data-background-lg="{{ config.ASSETS_ROOT }}/img/illustrations/signin.svg"> -->
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-gradient shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500 bg-body bg-opacity-75">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    VSecLab - Delete Account
                                </h1>
                                <br/>
                                <!-- print flask-security messages -->
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        {% for category, message in messages %}
                                            <div class="alert alert-{{ category }}">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                    <p>
                                        Are you sure you want to delete your account?
                                    </p>
                                    {% endif %}                                     
                                {% endwith %}
                            </div>
                            <form method="post" action="" class="mt-4">
                                
                                {{ delete_account_form.hidden_tag() }}

                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="password">Password</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <span class="fas fa-lock"></span>
                                        </span>
                                        {{ delete_account_form.password(placeholder="Password", class="form-control") }}
                                    </div>
                                    {% for error in delete_account_form.password.errors %}
                                        <li class="p-1 small font-weight-bold text-danger">{{ error }}</li>
                                    {% endfor %}
                                </div>
                                <!-- End of Form -->
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-danger btn-dark">Delete Account</button>
                                </div>
                            </form>
                            <div class="text-center mt-2">
                                <a href="{{ url_for('profile_blueprint.profile') }}" class="fw-bold text-right">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="{{ config.ASSETS_ROOT }}/js/theme/background.js"></script>
{% endblock javascripts %}
