<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->

<title>
    VSecLab - {% block title %}{% endblock %}
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="VSecLab">
<meta name="author" content="Felice Moretta">
<meta name="description" content="VSecLab is a platform for learning and testing security concepts.">
<meta name="keywords" content="security, learning, testing, platform, vseclab, vsec, lab, security lab, security platform, security learning, security testing, penetration testing, ethical hacking, hacking, cybersecurity, cyber security, security concepts, security tools, security resources, security challenges, security labs, security platform, security training, security education, security courses, security tutorials, security exercises, security practices, security techniques, security methods, security strategies, security principles, security fundamentals, security basics, security theory, security practice, security tools, security resources, security challenges, security labs, security platform, security training, security education, security courses, security tutorials, security exercises, security practices, security techniques, security methods, security strategies, security principles, security fundamentals, security basics, security theory, security practice">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="{{ config.ASSETS_ROOT }}/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ config.ASSETS_ROOT }}/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ config.ASSETS_ROOT }}/img/favicon/favicon-16x16.png">
<link rel="manifest" href="{{ config.ASSETS_ROOT }}/img/favicon/site.webmanifest">
<link rel="mask-icon" href="{{ config.ASSETS_ROOT }}/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- FA Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Google Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!-- Sweet Alert -->
<link type="text/css" href="{{ config.ASSETS_ROOT }}/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="{{ config.ASSETS_ROOT }}/vendor/notyf/notyf.min.css" rel="stylesheet">

<!-- CSS -->
<link type="text/css" href="{{ config.ASSETS_ROOT }}/css/volt.css" rel="stylesheet">

<!-- Custom SCSS -->
{% assets "css_all" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}

<!-- Specific Page JS goes HERE  -->    
{% block stylesheets %}{% endblock stylesheets %}

</head>
<body>
    <!-- Settings Box + Dark Mode Script -->
    {% include 'includes/settings-box.html' %}
    <script src="{{ config.ASSETS_ROOT }}/js/dark-mode.js"></script>
    
    {% block content %}{% endblock content %}

    {% include 'includes/scripts.html' %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}  
  
</body>
</html>
