<h3>
    <span class="badge bg-{{data['Abstraction']}}">{{data['Abstraction']}}</span>
    {% if data['Domains'] is not none %}
        {% for domain in data['Domains'] %}
            <span class="badge bg-domains">
                {{ domain }}
            </span>
        {% endfor %}
    {% endif %}
    {% if data['Likelihood_Of_Attack'] is not none %}
        <span class="badge bg-{{data['Likelihood_Of_Attack']}}">Likelihood: {{data['Likelihood_Of_Attack']}}</span>
    {% endif %}
    {% if data['Typical_Severity'] is not none %}
        <span class="badge bg-{{data['Typical_Severity'] | replace(' ', '') }}">Typical Severity: {{data['Typical_Severity']}}</span>
    {% endif %}
</h3>

{% if data['Capec_Parents_ID'] is not none and data['Capec_Parents_ID']|length > 0 %}
<h4>
    Parents:
    {% for parent in data['Capec_Parents_ID'] | sort %}
        <a class="badge bg-capec" href="/capec-detail?id={{ parent }}">{{ parent }}</a>
    {% endfor %}
</h4>
{% endif %}

{% if data['Capec_Children_ID'] is not none and data['Capec_Children_ID']|length > 0 %}
<h4>
    Children:
    {% for child in data['Capec_Children_ID'] | sort %}
        <a class="badge bg-capec" href="/capec-detail?id={{ child }}">{{ child }}</a>
    {% endfor %}
</h4>
{% endif %}

{% if data.hasThreat is not none and data.hasThreat|length > 0 %}
<h4>
    Threats:
    {% for threat in data.hasThreat %}
        <span class="badge bg-threat">
            <!-- <a href="/capec-detail?id={{ threat }}">{{ threat }}</a> -->
            {{ threat }}
        </span>
    {% endfor %}
</h4>
{% endif %}

{% if data.hasTool is not none and data.hasTool|length > 0 %}
<h4>
    Tools:
    {% for tool in data.hasTool %}
        <span class="badge bg-tool">
            {{ tool }}
        </span>
    {% endfor %}
</h4>
{% endif %}
