<div class="accordion-item">
    <div class="accordion-header d-flex align-items-center colla" id="headingConsequences">
        <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseConsequences" aria-expanded="false" aria-controls="collapseConsequences">
            <h2 class="h5 mb-0">
                Consequences
            </h2>
        </div>
    </div>
    <div id="collapseConsequences" class="accordion-collapse collapse show">
        <div class="accordion-body">
            {% if data['Consequences'] is none %}
            <p class="text-warning mb-1">Not present</p>
            {% else %}
                <!-- get maximum lenght of data['Consequences'].values() -->
                {% set max_len = [] %}
                {% for key, value in data['Consequences'].items() %}
                    {% set tmp =  max_len.append(value|length) %}
                {% endfor %}
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                {% for key, value in data['Consequences'].items() %}
                                <th scope="col">{{ key.replace('_', ' ') }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(max_len|max) %}
                            <tr>
                                {% for key, value in data['Consequences'].items() %}
                                <td>{{ value[i] }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
</div>