<div class="accordion-item">
    <div class="accordion-header d-flex align-items-center colla" id="headingExecutionFlow">
        <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExecutionFlow" aria-expanded="false" aria-controls="collapseExecutionFlow">
            <h2 class="h5 mb-0">
                Execution Flow
            </h2>
        </div>
    </div>
    <div id="collapseExecutionFlow" class="accordion-collapse collapse show">
        <div class="accordion-body">
            {% if data['Execution_Flow'] is none %}
                <p class="text-warning mb-1">Not present</p>
            {% else %}
                <div class="table-responsive">
                    {{ data['Execution_Flow'] | replace('<table>', '<table class="table table-hover table-striped">') | replace('h3', 'h5') | safe }}
                </div>
            {% endif %}
        </div>
    </div>
</div>