<div class="accordion-item">
    <div class="accordion-header d-flex align-items-center colla" id="headingSkillsRequired">
        <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSkillsRequired" aria-expanded="false" aria-controls="collapseSkillsRequired">
            <h2 class="h5 mb-0">
                Skills Required
            </h2>
        </div>
    </div>
    <div id="collapseSkillsRequired" class="accordion-collapse collapse show">
        <div class="accordion-body">
            {% if data['Skills_Required'] is none %}
                <p class="text-warning mb-1">Not present</p>
            {% else %}
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                {% for key, value in data['Skills_Required'].items() %}
                                <th scope="col">{{ key.replace('_', ' ') }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in data['Skills_Required'].items() %}
                            <tr>
                                <td>{{ value }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
</div>