{% extends "layouts/base.html" %}

{% block title %} MACM Manager {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <span class="material-symbols-outlined align-top breadcrumb-icon">
                                home
                            </span>
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">MACM Manager</li>
                </ol>
            </nav>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="card border-0 shadow mb-3">
                <div class="card-header d-flex justify-content-between align-items-center {{'collapsed' if macms is not none }}" id="headingLoadMACM" data-bs-toggle="collapse" data-bs-target="#collapseLoadMACM" aria-expanded="true" aria-controls="collapseLoadMACM">
                    <h2 class="h4 mb-0">
                        Load MACM
                        <i class="fas fa-chevron-down mr-auto"></i>
                    </h2>
                </div>
                
                <div id="collapseLoadMACM" class="card-body collapse show" aria-labelledby="headingLoadMACM">
                    <form id="uploadMacmForm" method="post" enctype="multipart/form-data" action="/api/upload_macm">
                        <div class="form-group mb-3">
                            <label for="macmAppName" class="form-label">App Name</label>
                            {{ upload_macm_form.macmAppName(size=100, class="form-control", id="macmAppName") }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="macmFile" class="form-label">Insert Cypher File</label>
                            <input class="form-control" type="file" id="macmFile" name="macmFile">
                        </div>
                        <p class="text-center">OR</p>
                        <div class="form-group mb-3">
                            <label for="macmCypher" class="form-label">Insert Cypher Query</label>
                            <textarea class="form-control" id="macmCypher" name="macmCypher" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary upload_macm">
                            <span>Upload</span>
                        </button>
                    </form>
                </div>
            </div>

            <div class="card border-0 shadow mb-3">
                <div class="card-header d-flex justify-content-between align-items-center {{'collapsed' if macms is not none }}" id="headingLoadDockerCompose" data-bs-toggle="collapse" data-bs-target="#collapseLoadDockerCompose" aria-expanded="true" aria-controls="collapseLoadDockerCompose">
                    <h2 class="h4 mb-0">
                        Load Docker Compose
                        <i class="fas fa-chevron-down mr-auto"></i>
                    </h2>
                </div>
                
                <div id="collapseLoadDockerCompose" class="card-body collapse show" aria-labelledby="headingLoadDockerCompose">
                    <form id="uploadDockerComposeForm" method="post" enctype="multipart/form-data" action="/api/upload_docker_compose">
                        <div class="form-group mb-3">
                            <label for="macmAppName" class="form-label">App Name</label>
                            {{ upload_docker_compose_form.macmAppName(size=100, class="form-control", id="macmAppName") }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="composeFile" class="form-label">Insert YAML File</label>
                            <input class="form-control" type="file" id="composeFile" name="composeFile">
                        </div>
                        <p class="text-center">OR</p>
                        <div class="form-group mb-3">
                            <label for="dockerYaml" class="form-label">Insert Docker Compose content</label>
                            <textarea class="form-control" id="dockerYaml" name="dockerYaml" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary upload_docker_compose">
                            <span>Upload</span>
                        </button>
                    </form>
                </div>
            </div>

            <div class="card border-0 shadow">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2 class="h4 mb-0">MACM</h2>
                </div>

                <div class="card card-body border-0 shadow mb-4 mb-xl-0">
                    {% if macms is not none %}
                        <ul class="list-group list-group-flush">
                            {% for macm in macms %}
                                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                                    <div class="d-flex align-items-center">
                                        <h1 class="display-9 mb-1">{{ macm.AppName }}</h1>
                                        <span class="badge bg-time bg-small rounded-pill ms-3 fs-10">{{ macm.CreatedAt.strftime('%d/%m/%Y %H:%M') }}</span>
                                    </div>
                                    <div>
                                        {% if usersPerApp[macm.AppID] | length > 1 and current_user.id == owners[macm.AppID] %}
                                            <span class="badge bg-shared rounded-pill me-2">Shared</span>
                                        {% elif current_user.id != owners[macm.AppID] %}
                                            <span class="badge bg-shared rounded-pill me-2">
                                                Shared by {{ users_dict[owners[macm.AppID]] }}
                                            </span>
                                        {% endif %}
                                        <a class="btn btn-secondary btn-sm" href="/macms/macm-viewer?app_id={{macm.AppID}}"  role="button">
                                            <i class="fas fa-eye mr-auto"></i>
                                            View
                                        </a>
                                        <button type="button" class="btn btn-primary btn-sm align-items-center" data-bs-toggle="modal" data-bs-target="#editMacmModal" data-bs-AppID="{{macm.AppID}}" data-bs-AppName="{{macm.AppName}}">
                                            <i class="fas fa-edit mr-auto"></i>
                                            Edit
                                        </button>
                                        {% if current_user.id == owners[macm.AppID] %}
                                            <button type="button" class="btn btn-primary btn-sm align-items-center" data-bs-target="#renameMacmModal" data-bs-toggle="modal"  data-bs-AppID="{{macm.AppID}}" data-bs-AppName="{{macm.AppName}}">
                                                <i class="fas fa-i-cursor mr-auto"></i>
                                                Rename
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm align-items-center" data-bs-target="#shareMacmModal" data-bs-toggle="modal"  data-bs-AppID="{{macm.AppID}}" data-bs-AppName="{{macm.AppName}}">
                                                <i class="fas fa-share mr-auto"></i>
                                                Share
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm align-items-center" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-AppID="{{macm.AppID}}" data-bs-AppName="{{macm.AppName}}">
                                                <i class="fas fa-trash mr-auto"></i>
                                                Delete
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-primary btn-sm align-items-center" data-bs-target="#unshareMacmModal" data-bs-toggle="modal" data-bs-AppID="{{macm.AppID}}" data-bs-AppName="{{macm.AppName}}" data-bs-UserID="{{current_user.id}}">
                                                <i class="fas fa-share mr-auto"></i>
                                                Unshare
                                            </button>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            <h5 class="alert-heading">No Penetration Tests</h5>
                            <p>No data available, please upload a MACM</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include 'macm/modals/edit_macm_modal.html' %}
    {% include 'macm/modals/rename_macm_modal.html' %}
    {% include 'macm/modals/delete_modal.html' %}
    {% include 'macm/modals/share_macm_modal.html' %}
    {% include 'macm/modals/unshare_macm_modal.html' %}
    {% include 'macm/modals/docker_compose_to_MACM.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript">
        var usersPerApp = JSON.parse('{{ usersPerApp | tojson }}');
    </script>
    <script type="text/javascript" src="{{ config.ASSETS_ROOT }}/js/pages/macm/macm.js"></script>
    <script type="text/javascript" src="{{ config.ASSETS_ROOT }}/js/pages/macm/edit-macm.js"></script>
    <script type="text/javascript" src="{{ config.ASSETS_ROOT }}/js/pages/macm/rename-macm.js"></script>
    <script type="text/javascript" src="{{ config.ASSETS_ROOT }}/js/pages/macm/share-macm.js"></script>
{% endblock javascripts %}