{% extends "layouts/base.html" %}

{% block title %} Capec-{{ data['Capec_ID'] }}  {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/capec">Capec</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Capec-{{ data['Capec_ID'] }}</li>
                </ol>
            </nav>
            <h2 class="h4">Capec-<span class="badge bg-capec">{{ data['Capec_ID'] }}</span> Detail</h2>
            <p class="text-info mb-0 h3">{{ data['Name'] }}</p>
        </div>
    </div>
    
    <div class="col-12">

        <!-- Badges start -->
        {% include 'catalogs/capec-detail/badges.html' %}
        <!-- Badges end -->

        <div class="row mb-3">
            <div class="col-12">
                <div class="accordion-options">
                    <button type="button" class="btn btn-outline-tertiary" data-bs-toggle="button" id="ExpandToggle" aria-pressed="false">Expand All</button>
                </div>
            </div>
        </div>

        <!-- [ Cards ] start -->
        <div class="row">
            <div class="col">
                <div class="accordion" id="accordionOne">
                    <!-- Description -->
                    {% include 'catalogs/capec-detail/description.html' %}

                    <!-- External References -->
                    {% include 'catalogs/capec-detail/external-references.html' %}
                    
                    <!-- Execution Flow -->
                    {% include 'catalogs/capec-detail/execution-flow.html' %}
                    
                    <!-- Prerequisites -->
                    {% include 'catalogs/capec-detail/prerequisites.html' %}
                    
                    <!-- Resources Required -->
                    {% include 'catalogs/capec-detail/resource-required.html' %}
                    
                    <!-- Skills Required -->
                    {% include 'catalogs/capec-detail/skills-required.html' %}
                    
                    <!-- Consequences -->
                    {% include 'catalogs/capec-detail/consequences.html' %}
                    
                    <!-- Example Instances -->
                    {% include 'catalogs/capec-detail/example-instances.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript" src="{{ config.ASSETS_ROOT }}/js/pages/capec-detail.js"></script>
{% endblock javascripts %}
