{% extends "layouts/base.html" %}

{% block title %} Protocols {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <span class="material-symbols-outlined align-top breadcrumb-icon">
                                home
                            </span>
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Protocols</li>
                </ol>
            </nav>
            <h2 class="h4">Protocols</h2>
            <p class="mb-0">
                The Protocols Catalogue contains the different protocols that can be used to create a MACM model.
            </p>
        </div>
    </div>
    
    <div class="col-12">
        <div class="card border-0 shadow">
            
            <div class="card-header d-flex justify-content-between align-items-center">
                <h2 class="h4 mb-0">Protocols Table</h2>
            </div>

            <div class="card-body">

                <div class="d-block align-items-center">
                    <!-- [ stiped-table ] start -->
                    {% if table is not none %}
                    <table id="protocolsCatalogTable" class="table table-striped table-hover table-dataframe text-wrap">
                        <thead>
                            <tr>
                                <th>Protocol ID</th>
                                <th>Name</th>
                                <th>Extended Name</th>
                                <th>Description</th>
                                <th>ISO/OSI Layer</th>
                                <th>Relationship</th>
                                <th>Ports</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in table %}
                                <tr>
                                    <td><div class="id-badge"><h2><span class="badge bg-protocols">{{ row.ProtocolID }}</span></h2></div></td>
                                    <td>{{ row.Name }}</td>
                                    <td>{{ row.ExtendedName if row.ExtendedName is not none else '' }}</td>
                                    <td>{{ row.Description }}</td>
                                    <td>{{ row.ISOLayer }}</td>
                                    <td>{{ row.Relationship }}</td>
                                    <td>{{ row.Ports if row.Ports is not none else '' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Protocol ID</th>
                                <th>Name</th>
                                <th>Extended Name</th>
                                <th>Description</th>
                                <th>ISO/OSI Layer</th>
                                <th>Relationship</th>
                                <th>Ports</th>
                            </tr>
                        </tfoot>
                    </table> 
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">No Protocols Data</h4>
                            <p>There is no protocols data.</p>
                        </div>
                    {% endif %}
                    <!-- [ stiped-table ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript" src="{{ config.ASSETS_ROOT }}/js/pages/protocols.js"></script>
    <script type="text/javascript" src="{{ config.ASSETS_ROOT }}/js/theme/color-manager.js"></script>
{% endblock javascripts %}
