{% extends "layouts/base.html" %}

{% block title %} Threat Catalogue {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <span class="material-symbols-outlined align-top breadcrumb-icon">
                                home
                            </span>
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Threat Catalogue</li>
                </ol>
            </nav>
            <h2 class="h4">Threat Catalogue</h2>
            <p class="mb-0">The Threat Catalogue is a collection of threats that can be used to identify and mitigate risks to an organization. Each entry represents a couple \((Threat, AssetType)\) identified by a \( TID \), which indicates that an asset of a given \( AssetType \) can be affected by the \( Threat \).</p>
        </div>
    </div>
    
    <div class="col-12">
        <div class="card border-0 shadow">
            
            <div class="card-header d-flex justify-content-between align-items-center">
                <h2 class="h4 mb-0">Threat Catalogue Table</h2>
            </div>

            <div class="card-body">

                <div class="d-block align-items-center">
                    <!-- [ stiped-table ] start -->
                    {% if table is not none %}
                    <table id="threatCatalogTable" class="table table-striped table-hover table-dataframe text-wrap">
                        <thead>
                            <tr>
                                <th>TID</th>
                                <th>Asset</th>
                                <th>Threat</th>
                                <th>Description</th>
                                <th>STRIDE</th>
                                <th>Compromised</th>
                                <th>PreC</th>
                                <th>PreI</th>
                                <th>PreA</th>
                                <th>PreCondition</th>
                                <th>PostC</th>
                                <th>PostI</th>
                                <th>PostA</th>
                                <th>PostCondition</th>
                                <th>Capec Meta</th>
                                <th>Capec Standard</th>
                                <th>Capec Detailed</th>
                                <th>Easy of Discovery</th>
                                <th>Easy of Exploit</th>
                                <th>Awareness</th>
                                <th>Intrusion Detection</th>
                                <th>Loss of Confidentiality</th>
                                <th>Loss of Integrity</th>
                                <th>Loss of Availability</th>
                                <th>Loss of Accountability</th>
                                <th>Commento</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in table %}
                                <tr>
                                    <td><div class="id-badge"><h2><span class="badge bg-threat">{{ row['TID'] }}</span></h2></div></td>
                                    <td>{{ row['Asset'] }}</td>
                                    <td>{{ row['Threat'] }}</td>
                                    <td>{{ row['Description'] }}</td>
                                    <td>{{ row['STRIDE'] }}</td>
                                    <td>{{ row['Compromised'] }}</td>
                                    <td>{{ row['PreC'] }}</td>
                                    <td>{{ row['PreI'] }}</td>
                                    <td>{{ row['PreA'] }}</td>
                                    <td>{{ row['PreCondition'] }}</td>
                                    <td>{{ row['PostC'] }}</td>
                                    <td>{{ row['PostI'] }}</td>
                                    <td>{{ row['PostA'] }}</td>
                                    <td>{{ row['PostCondition'] }}</td>
                                    <td class="text-nowrap">
                                        {% if row.hasCapecMeta is not none %}
                                            <div class="d-flex flex-wrap">
                                                    {% for child in row.hasCapecMeta | sort %}
                                                    <a class="badge bg-capec me-1 mb-1" href="/catalogs/capec-detail?id={{ child }}">{{ child }}</a>
                                                    {% endfor %}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td class="text-nowrap">
                                        {% if row.hasCapecStandard is not none %}
                                            <div class="d-flex flex-wrap">
                                                    {% for child in row.hasCapecStandard | sort %}
                                                    <a class="badge bg-capec me-1 mb-1" href="/catalogs/capec-detail?id={{ child }}">{{ child }}</a>
                                                    {% endfor %}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td class="text-nowrap">
                                        {% if row.hasCapecDetailed is not none %}
                                            <div class="d-flex flex-wrap">
                                                    {% for child in row.hasCapecDetailed | sort %}
                                                    <a class="badge bg-capec me-1 mb-1" href="/catalogs/capec-detail?id={{ child }}">{{ child }}</a>
                                                    {% endfor %}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>{{ row['EasyOfDiscovery'] if row['EasyOfDiscovery'] is not none }}</td>
                                    <td>{{ row['EasyOfExploit'] if row['EasyOfExploit'] is not none }}</td>
                                    <td>{{ row['Awareness'] if row['Awareness'] is not none }}</td>
                                    <td>{{ row['IntrusionDetection'] if row['IntrusionDetection'] is not none }}</td>
                                    <td>{{ row['LossOfConfidentiality'] if row['LossOfConfidentiality'] is not none }}</td>
                                    <td>{{ row['LossOfIntegrity'] if row['LossOfIntegrity'] is not none }}</td>
                                    <td>{{ row['LossOfAvailability'] if row['LossOfAvailability'] is not none }}</td>
                                    <td>{{ row['LossOfAccountability'] if row['LossOfAccountability'] is not none }}</td>
                                    <td>{{ row['Commento'] if row['Commento'] != 'None' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>TID</th>
                                <th>Asset</th>
                                <th>Threat</th>
                                <th>Description</th>
                                <th> STRIDE</th>
                                <th>Compromised</th>
                                <th>PreC</th>
                                <th>PreI</th>
                                <th>PreA</th>
                                <th>PreCondition</th>
                                <th>PostC</th>
                                <th>PostI</th>
                                <th>PostA</th>
                                <th>PostCondition</th>
                                <th>Capec Meta</th>
                                <th>Capec Standard</th>
                                <th>Capec Detailed</th>
                                <th>Easy of Discovery</th>
                                <th>Easy of Exploit</th>
                                <th>Awareness</th>
                                <th>Intrusion Detection</th>
                                <th>Loss of Confidentiality</th>
                                <th>Loss of Integrity</th>
                                <th>Loss of Availability</th>
                                <th>Loss of Accountability</th>
                                <th>Commento</th>
                            </tr>
                        </tfoot>
                    </table> 
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">No Threat Catalogue Data</h4>
                            <p>There is no threat catalogue data.</p>
                        </div>
                    {% endif %}
                    <!-- [ stiped-table ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript" src="{{ config.ASSETS_ROOT }}/js/pages/threat-catalog.js"></script>
{% endblock javascripts %}
