<!-- Cypher to Canvas Modal -->
<div class="modal fade" id="modalCypher2Canvas" tabindex="-1" aria-labelledby="modalCypher2CanvasLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCypher2CanvasLabel">Cypher Query</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" id="modalCypher2CanvasInput" rows="15" placeholder="Enter the Cypher query here..."></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="uploadCypher2CanvasOutput" onclick="uploadCypher()">Upload</button>
                <button type="button" class="btn btn-tertiary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>