<div class="card border-0 shadow mb-2">
    <div class="card-header border-gray-100 d-flex justify-content-between align-items-center collapsed" id="headingCapec{{attackPattern}}" data-bs-toggle="collapse" data-bs-target="#collapseCapec{{attackPattern}}" aria-expanded="true" aria-controls="collapseCapec{{attackPattern}}">
        <h2 class="h5 mb-0">
            Capec-{{ attackPattern }}
            <i class="fas fa-chevron-down"></i>
        </h2>
    </div>
    <div id="collapseCapec{{attackPattern}}" class="card-body collapse" aria-labelledby="headingCapec{{attackPattern}}">

    </div>
</div>
