{% if attack.Command %}
<div class="accordion-item">
    <div class="accordion-header d-flex align-items-center" id="heading{{attack.Attack_Number}}Command">
        <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{attack.Attack_Number}}Command" aria-expanded="true" aria-controls="collapse{{attack.Attack_Number}}Command">
            <h2 class="h6 mb-0">
                Command
            </h2>
        </div>
    </div>
    <div id="collapse{{attack.Attack_Number}}Command" class="accordion-collapse collapse show">
        <div class="accordion-body">
            {% if attack.Tool_Description != '' and attack.Tool_Description != None and attack.Tool_Description != 'None' %}
                <p class="mb-2">{{ attack.Tool_Description }}</p>
            {% endif %}
            <div class="input-group mb-3 command">
                {% for part in attack.Command|regex_split("({.*?})") %}
                    {% if not part.isspace() and part != '' %}
                        {% if '{' in part %}
                            {% set parameter = part|safe_substitute(attack.Parameters) %}
                            {% set label = part|regex_replace("[{}]", "") %}
                            <div class="form-floating">
                                <input type="text" class="form-control command-input" id="floatingInputValue" placeholder="{{ label }}" value="{{ parameter if parameter != part }}">
                                <label for="floatingInputValue">{{ label }}</label>
                            </div>
                        {% else %}
                            <span class="input-group-text command-input">{{ part }}</span>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <button type="button" class="btn btn-secondary"><i class="fas fa-copy"></i></button>
            </div>
            {% if attack.Output_Parser %}
            <p class="mb-2">Upload the output command file to parse the output. The allowed file extensions are: 
                {% for extension in attack.Allowed_Output_Extensions %}
                    {{ extension }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            <div class="input-group mb-3 output-file">
                    <span class="input-group-text">Output File</span>
                    <input type="file" class="form-control" id="outputFile" parser="{{ attack.Output_Parser }}" accept="{{ attack.Allowed_Output_Extensions|join(',') }}" macmID="{{ attack.AppID }}" componentID="{{ attack.Component_ID }}">
                    <button type="button" class="btn btn-secondary" id="uploadOutputFile"><i class="fas fa-upload"></i></button>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
