{% if attack.Execution_Flow %}
<div class="accordion-item">
    <div class="accordion-header d-flex align-items-center colla" id="heading{{attack.Attack_Number}}ExecutionFlow">
        <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{attack.Attack_Number}}ExecutionFlow" aria-expanded="false" aria-controls="collapse{{attack.Attack_Number}}ExecutionFlow">
            <h2 class="h6 mb-0">
                Execution Flow
            </h2>
        </div>
    </div>
    <div id="collapse{{attack.Attack_Number}}ExecutionFlow" class="accordion-collapse collapse show">
        <div class="accordion-body">
            {{ attack.Execution_Flow | replace('<table>', '<table class="table table-hover table-striped">') | replace('h3', 'h5') | safe }}
        </div>
    </div>
</div>
{% endif %}



