<!-- Modal -->
<div class="modal fade" id="modalParserOutput" tabindex="-1" aria-labelledby="modalParserOutputLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalParserOutputLabel">Parser Output</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <pre class="line-numbers"><code class="language-cypher" id="parserOutput"></code></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="copyParserOutput">Copy</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>