<!-- Modal -->
<div class="modal fade" id="modalParserOutput" tabindex="-1" aria-labelledby="modalParserOutputLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalParserOutputLabel">Parser Output</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <pre class="line-numbers" id="parserOutputPre"><code class="language-cypher" id="parserOutput"></code></pre>
                <div class="alert alert-info" id="modalParserAlert" role="alert" style="display: none;">
                    <h5 class="alert-heading">Nothing to do</h5>
                    <p>There is nothing to add to the MACM model.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="copyParserOutput">Copy</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>