{% set threat_name = threat.Threat | regex_replace ("[^A-Za-z0-9]","") %}

<div class="card border-0 shadow mb-2">
    <div class="card-header border-gray-100 d-flex justify-content-between align-items-center collapsed" id="headingThreat{{threat_name}}" data-bs-toggle="collapse" data-bs-target="#collapseThreat{{threat_name}}" aria-expanded="true" aria-controls="collapseThreat{{threat_name}}">
        <h2 class="h5 mb-0">
            {{ threat.Threat }}
            <i class="fas fa-chevron-down"></i>
        </h2>
    </div>
    <div id="collapseThreat{{threat_name}}" class="card-body collapse" aria-labelledby="headingThreat{{threat_name}}">
        {{ threat.Description }}
        <div class="d-block mt-3">
            {% for attackPattern in threat.CapecMeta|list + threat.CapecStandard|list + threat.CapecDetailed|list | sort %}
                {% if attackPattern != 'None' %}
                    {% include 'home/macm-detail/attack_pattern.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
