<h3>
    <span class="badge bg-{{data['Abstraction']}}">{{data['Abstraction']}}</span>
    {% for domain in data['Domains'] %}
        <span class="badge bg-domains">
            {{ domain }}
        </span>
    {% endfor %}
    {% if data['Likelihood Of Attack'] is not none %}
        <span class="badge bg-{{data['Likelihood Of Attack']}}">Likelihood: {{data['Likelihood Of Attack']}}</span>
    {% endif %}
    {% if data['Typical Severity'] is not none %}
        <span class="badge bg-{{data['Typical Severity'] | replace(' ', '') }}">Typical Severity: {{data['Typical Severity']}}</span>
    {% endif %}
</h3>

{% if data['Capec Parents ID'] is not none %}
<h4>
    Parents:
    {% for parent in data['Capec Parents ID'] | sort %}
        <span class="badge bg-primary">
            <a href="/capec-detail?id={{ parent }}">{{ parent }}</a>
        </span>
    {% endfor %}
</h4>
{% endif %}

{% if data['Capec Childs ID'] is not none %}
<h4>
    Childs:
    {% for child in data['Capec Childs ID'] | sort %}
        <span class="badge bg-primary">
            <a href="/capec-detail?id={{ child }}">{{ child }}</a>
        </span>
    {% endfor %}
</h4>
{% endif %}