<h3>
    <span class="badge bg-{{data['Abstraction']}}">{{data['Abstraction']}}</span>
    {% for domain in data['Domains'] %}
        <span class="badge bg-domains">
            {{ domain }}
        </span>
    {% endfor %}
    {% if data['Likelihood_Of_Attack'] is not none %}
        <span class="badge bg-{{data['Likelihood_Of_Attack']}}">Likelihood: {{data['Likelihood_Of_Attack']}}</span>
    {% endif %}
    {% if data['Typical_Severity'] is not none %}
        <span class="badge bg-{{data['Typical_Severity'] | replace(' ', '') }}">Typical Severity: {{data['Typical_Severity']}}</span>
    {% endif %}
</h3>

{% if data['Capec_Parents_ID'] is not none %}
<h4>
    Parents:
    {% for parent in data['Capec_Parents_ID'] | sort %}
        <span class="badge bg-primary">
            <a href="/capec-detail?id={{ parent }}">{{ parent }}</a>
        </span>
    {% endfor %}
</h4>
{% endif %}

{% if data['Capec_Childs_ID'] is not none %}
<h4>
    Childs:
    {% for child in data['Capec_Childs_ID'] | sort %}
        <span class="badge bg-primary">
            <a href="/capec-detail?id={{ child }}">{{ child }}</a>
        </span>
    {% endfor %}
</h4>
{% endif %}

{% if data.hasThreat is not none %}
<h4>
    Threats:
    {% for threat in data.hasThreat %}
        <span class="badge bg-primary">
            <!-- <a href="/capec-detail?id={{ threat }}">{{ threat }}</a> -->
            {{ threat }}
        </span>
    {% endfor %}
</h4>
{% endif %}

{% if data.hasTool is not none %}
<h4>
    Tools:
    {% for tool in data.hasTool %}
        <span class="badge bg-primary">
            {{ tool }}
        </span>
    {% endfor %}
</h4>
{% endif %}
