<div class="accordion-item">
    <div class="accordion-header d-flex align-items-center colla" id="headingDescription">
        <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescription" aria-expanded="true" aria-controls="collapseDescription">
            <h2 class="h5 mb-0">
                Description
            </h2>
        </div>
    </div>
    <div id="collapseDescription" class="accordion-collapse collapse show">
        <div class="accordion-body">
            {{ data['Description'] | safe}}
        </div>
    </div>
</div>

<div class="accordion-item">
    <div class="accordion-header d-flex align-items-center colla" id="headingExtendedDescription">
        <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExtendedDescription" aria-expanded={{'true' if data['Extended_Description'] is not none else 'false'}} aria-controls="collapseExtendedDescription">
            <h2 class="h5 mb-0">
                Extended Description
            </h2>
        </div>
    </div>
    <div id="collapseExtendedDescription" class="accordion-collapse collapse show">
        <div class="accordion-body">
            {% if data['Extended_Description'] is none %}
                <p class="text-warning mb-1">Not present</p>
            {% else %}
                <div>
                    {{ data['Extended_Description'] | safe}}
                </div>
            {% endif %}
        </div>
    </div>
</div>