<div class="card">
    <div class="card-header collapsed" id="headingExecutionFlow" data-bs-toggle="collapse" data-bs-target="#collapseExecutionFlow" aria-expanded="true" aria-controls="collapseExecutionFlow">
        <h5 class="mb-0">
            Execution Flow
            <i class="fas fa-chevron-down"></i>
        </h5>
    </div>
    <div id="collapseExecutionFlow" class=" card-body collapse show" aria-labelledby="headingExecutionFlow">
        {% if data['Execution Flow'] is none %}
            <p class="text-warning mb-1">Not present</p>
        {% else %}
            <div class="table-striped">
                {{ data['Execution Flow'] | replace('<table>', '<table class="table table-hover table-responsive table-striped">') | safe }}
            </div>
        {% endif %}
    </div>
</div>
