<div class="accordion-item">
    <div class="accordion-header d-flex align-items-center colla" id="headingResourceRequired">
        <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseResourceRequired" aria-expanded="false" aria-controls="collapseResourceRequired">
            <h2 class="h5 mb-0">
                Resource Required
            </h2>
        </div>
    </div>
    <div id="collapseResourceRequired" class="accordion-collapse collapse show">
        <div class="accordion-body">
            {% if data['Resources_Required'] is none %}
                <p class="text-warning mb-1">Not present</p>
            {% else %}
                <ol>
                    {% for example in data['Resources_Required'] %}
                        <li>{{ example | safe }}</li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
    </div>
</div>