<div class="card border-0 shadow mb-2">
    <div class="card-header border-gray-100 d-flex justify-content-between align-items-center collapsed" id="headingSkillsRequired" data-bs-toggle="collapse" data-bs-target="#collapseSkillsRequired" aria-expanded="true" aria-controls="collapseSkillsRequired">
        <h2 class="h5 mb-0">
            Skills Required
            <i class="fas fa-chevron-down"></i>
        </h2>
    </div>
    <div id="collapseSkillsRequired" class=" card-body collapse show" aria-labelledby="headingSkillsRequired">
        {% if data['Skills Required'] is none %}
            <p class="text-warning mb-1">Not present</p>
        {% else %}
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            {% for key, value in data['Skills Required'].items() %}
                            <th scope="col">{{ key.replace('_', ' ') }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in data['Skills Required'].items() %}
                        <tr>
                            <td>{{ value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>
