{% extends "layouts/base.html" %}

{% block title %} MACM-{{ macm_data.Component_ID }}  {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/macm">MACM</a></li>
                    <li class="breadcrumb-item active" aria-current="page">MACM-{{ macm_data.Component_ID }}</li>
                </ol>
            </nav>
            <h2 class="h4">MACM-<span class="badge bg-macm">{{ macm_data.Component_ID }}</span> Detail</h2>
            <p class="text-info mb-0 h3"> <i class="fas fa-bullseye"></i> {{ macm_data.Type }}</p>
        </div>
    </div>
    
    <div class="col-12">

        <!-- Badges start -->
        {% include 'home/macm-detail/badges.html' %}
        <!-- Badges end -->
        
        <!-- Threat Description -->
        {% include 'home/macm-detail/threat_description.html' %}

        <div class="accordion-options">
            <button type="button" class="btn btn-outline-tertiary" data-bs-toggle="button" id="ExpandToggle" aria-pressed="false">Expand All</button>
        </div>

            <!-- Accordion start -->
            <div class="row">
                <div class="col">
                    <div class="accordion" id="accordionOne">
                        {% if attack_data|length > 0 %}
                            {% for attack in attack_data %}
                                {% include 'home/macm-detail/attack.html' %}
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                <h4 class="alert-heading">No Attack Data</h4>
                                <p>There is no attack data for this MACM component.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Accordion end -->
            {% include 'home/macm-detail/all_commands.html' %}
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript" src="{{ config.ASSETS_ROOT }}/js/pages/macm-detail.js"></script>
{% endblock javascripts %}
