{% extends "layouts/base.html" %}

{% block title %} MACM {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">MACM</li>
                </ol>
            </nav>
            <h2 class="h4">MACM</h2>
            <p class="mb-0">Description</p>
        </div>
        {% if table is not none %}
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="/api/clear_macm_database" class="btn btn-gray-800 align-items-center">
                <i class="fas fa-trash mr-auto"></i>
                Clear Database
            </a>
        </div>
        {% endif %}
    </div>
    
    <div class="col-12">
        <div class="card border-0 shadow mb-3">
            
            <div class="card-header border-gray-100 d-flex justify-content-between align-items-center {{'collapsed' if table is not none }}" id="headingLoadMACM" data-bs-toggle="collapse" data-bs-target="#collapseLoadMACM" aria-expanded="true" aria-controls="collapseLoadMACM">
                <h2 class="h4 mb-0">
                    Load MACM
                    <i class="fas fa-chevron-down mr-auto"></i>
                </h2>
            </div>
            
            <div id="collapseLoadMACM" class="card-body collapse show" aria-labelledby="headingLoadMACM">
                    <form method="post" enctype="multipart/form-data" action="/api/upload_macm">
                        <label for="macmFile" class="form-label">Insert Cypher File</label>
                        <input class="form-control" type="file" id="macmFile" name="macmFile">
                        <br>
                        <p class="text-center">OR</p>
                        <br>
                        <label for="macmCypher" class="form-label">Insert Cypher Query</label>
                        <textarea class="form-control mb-3" id="macmCypher" name="macmCypher" rows="3"></textarea>
                        
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
            </div>
        </div>
        
        <div class="card border-0 shadow mb-3">
            
            <div class="card-header border-gray-100 d-flex justify-content-between align-items-center">
                <h2 class="h4 mb-0">MACM</h2>
            </div>
            
            
            <div class="card-body">
                {% if table is not none %}
                    <div class="d-block align-items-center pt-5">
                        <!-- [ stiped-table ] start -->
                        {{ table|safe }}
                        <!-- [ stiped-table ] end -->
                    </div>
                {% else %}
                    <p class="text-warning mb-1 display-4">No data available, please upload a MACM</p>
                {% endif %}
            </div>
        </div>
        
        {% if table is not none %}
        <div class="card border-0 shadow">
            
            <div class="card-header border-gray-100 d-flex justify-content-between align-items-center">
                <h2 class="h4 mb-0">MACM Graph</h2>
                <div>
                    <button type="button" class="btn btn-primary" id="centerNetwork" disabled>Center</button>
                    <button type="button" class="btn btn-primary" id="saveImage" disabled>Save Image</button>
                </div>
            </div>
            
            
            <div class="card-body">
                <div class="d-block align-items-center pt-5">
                    <div id="viz" class="neovis"></div>
                </div>
            </div>
        </div>
        {% endif %}
        
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="module" src="{{ config.ASSETS_ROOT }}/js/pages/macm.js"></script>
{% endblock javascripts %}
