{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-body border-0 shadow mb-4 mb-xl-0">
                <h2 class="h5 mb-4">Database Settings</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Reload Capec</h3>
                            <p class="small pe-4">Reload Capec Database</p>
                        </div>
                        <div>
                            <button class="btn btn-secondary btn-sm" id="ReloadCapec">Reload</button>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Reload Threat Catalog</h3>
                            <p class="small pe-4">Reload Threat Catalog Database</p>
                        </div>
                        <div>
                            <button class="btn btn-secondary btn-sm" id="ReloadThreatCatalog">Reload</button>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Reload Tool Catalog</h3>
                            <p class="small pe-4">Reload Tool Catalog Database</p>
                        </div>
                        <div>
                            <button class="btn btn-secondary btn-sm" id="ReloadToolCatalog">Reload</button>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                        <div>
                            <h3 class="h6 mb-1">Test</h3>
                            <p class="small pe-4">Trigger function</p>
                        </div>
                        <div>
                            <button class="btn btn-secondary btn-sm" id="TestButton">Test</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="module" src="{{ config.ASSETS_ROOT }}/js/pages/settings.js"></script>
{% endblock javascripts %}
