<!-- Support Modal -->
<div class="modal fade modal-lg" id="ticketModal" tabindex="-1" aria-labelledby="ticketModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ticketModalLabel">Support</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <span class="h6 mb-3">Report an issue</span>
                </div>
                <!-- label for email -->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="ticketEmail" placeholder="Email" readonly value="{{current_user.email}}">
                    <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="ticketSubject" placeholder="Subject">
                    <label for="subject">Subject</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control mt-2" id="ticketIssue" style="height: 150px" placeholder="Please describe the issue you are experiencing"></textarea>
                    <label for="issue">Issue</label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" id="sendTicket" class="btn btn-primary" onclick="sendTicket()">Send</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>