<!-- Unshare Modal -->
<div class="modal fade" id="unshareMacmModal" tabindex="-1" aria-labelledby="unshareMacmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unshareMacmModalLabel">Delete Unshare</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to unshare <span id="unshareAppName"></span>?</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="unshareID" name="unshareID" value="">
                <button type="button" class="btn btn-primary" id="unshareConfirm">Unshare</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>