{% extends "layouts/base.html" %}

{% block title %} MACM-{{ macm_data.Component_ID }} {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
        <div class="d-block mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a href="/apps/static">
                            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/risk_analysis">Risk Analysis</a></li>
                    <li class="breadcrumb-item"><a href="/risk_analysis/macm_riskRating?app_id={{ selected_macm }}">Risk Rating</a></li>
                    <li class="breadcrumb-item active" aria-current="page">MACM-{{ macm_data.Component_ID }}</li>
                </ol>
            </nav>
            <h2 class="mb-4">MACM - {{ macm_data.Component_ID }}: {{ macm_data.Name }}</h2>
        </div>
    </div>

    <div class="col-12 mb-4">
    <div class="alert alert-info p-3 rounded">
        <strong class="d-block mb-2">Overall Risk Levels Legend:</strong>
        <div class="d-flex align-items-center mb-2">
            <span class="badge critical me-2">Critical</span>
            <span>- Very high risk level (8-9): Immediate action required!</span>
        </div>
        <div class="d-flex align-items-center mb-2">
            <span class="badge high me-2">High</span>
            <span>- High risk level (6-7): Significant attention needed.</span>
        </div>
        <div class="d-flex align-items-center mb-2">
            <span class="badge medium me-2">Medium</span>
            <span>- Medium risk level (4-5): Moderate concern, monitor closely.</span>
        </div>
        <div class="d-flex align-items-center mb-2">
            <span class="badge low me-2">Low</span>
            <span>- Low risk level (2-3): Low priority, no immediate action needed.</span>
        </div>
        <div class="d-flex align-items-center mb-2">
            <span class="badge note me-2">Note</span>
            <span>- No significant risk (1): No action required.</span>
        </div>
    </div>


    <form id="save_risk_evaluation" action="/risk_analysis/save_risk_evaluation" method="POST">

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Save Evaluation</button>
        </div>
        <br>

        <!-- Hidden fields -->
        <input type="hidden" name="component_id" value="{{ component_id }}">
        <input type="hidden" name="selected_macm" value="{{ selected_macm }}">

        {% for threat in threat_data %}
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0 d-flex align-items-center">
                        {{ threat.Threat_ID }}:
                        <strong>{{ threat.Threat }}</strong>
                        <div class="ms-3">
                            <span class="badge text-dark me-2 small small-badge" id="likelihood_{{ threat.Threat_ID }}">Likelihood: N/A</span>
                            <span class="badge text-dark small small-badge" id="technical_impact_{{ threat.Threat_ID }}">Technical Impact: N/A</span>
                            <span class="badge text-dark small small-badge" id="business_impact_{{ threat.Threat_ID }}">Business Impact: N/A</span>
                            <span class="badge text-dark" id="overall_risk_{{ threat.Threat_ID }}">Overall Risk: N/A</span>
                        </div>
                    </h3>
                </div>

                <div class="card-body">
                    <div class="mb-1">
                        STRIDE Classification: {{ form_data[threat.Threat].stride }}
                    </div>

                    <div class="mb-2">
                        Description: <span class="text-muted">{{ threat.Threat_Description }}</span>
                    </div>
                    
                    <div class="row text-center mb-3 border border-primary border-2 p-3 rounded">
                        <h5>Likelihood Evaluation</h5>
                        {% for label, param in {"Skill Level": "skill", "Motive": "motive", "Opportunity": "opportunity", "Size": "size", "Ease of Discovery": "ease_of_discovery", "Ease of Exploit": "ease_of_exploit", "Awareness": "awareness", "Intrusion Detection": "intrusion_detection"}.items() %}
                            <div class="col text-nowrap">
                                <row class="mb-1 ">
                                    <div class="">{{ label }}</div>
                                </row>
                                <row class="mb-1">
                                    <input type="number"
                                        id="{{ param }}_{{ threat.Threat_ID }}"
                                        name="{{ threat.Threat_ID }}[{{ param }}]"
                                        value="{{ form_data[param] or 5 }}"
                                        min="1" max="9"
                                        class="form-control likelihood-input"
                                        onchange="calculateImpact('{{ threat.Threat_ID }}')">
                                </row>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col me-1">
                            <div class="row text-center mb-3 border border-primary border-2 p-3 rounded">
                                <h5>Technical Impact Evaluation</h5>
                                {% for label, param in {"Loss of Confidentiality": "loss_of_confidentiality", "Loss of Integrity": "loss_of_integrity", "Loss of Availability": "loss_of_availability", "Loss of Accountability": "loss_of_accountability"}.items() %}
                                    <div class="col text-nowrap">
                                        <row class="mb-1 overflow-scroll">
                                            <div class="fw-bold">
                                                {{ label }}
                                            </div>
                                        </row>
                                        <row class="mb-1">
                                            <input type="number"
                                                id="{{ param }}_{{ threat.Threat_ID }}"
                                                name="{{ threat.Threat_ID }}[{{ param }}]"
                                                value="{{ form_data[threat.Threat][param] or 5 }}"
                                                min="1" max="9"
                                                class="form-control technical-impact-input"
                                                onchange="calculateImpact('{{ threat.Threat_ID }}')">
                                        </row>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col ms-1">
                            <div class="row text-center mb-3 border border-primary border-2 p-3 rounded">
                                <h5>Business Impact Evaluation</h5>
                                {% for label, param in {"Financial Damage": "financialdamage", "Reputation Damage": "reputationdamage", "Non-Compliance": "noncompliance", "Privacy Violation": "privacyviolation"}.items() %}
                                    <div class="col text-nowrap">
                                        <row class="mb-1 overflow-scroll">
                                            <div class="fw-bold">
                                                {{ label }}
                                            </div>
                                        </row>
                                        <row class="mb-1">
                                            <input type="number"
                                                id="{{ param }}_{{ threat.Threat_ID }}"
                                                name="{{ threat.Threat_ID }}[{{ param }}]"
                                                value="{{ form_data[threat.Threat][param] or 5 }}"
                                                min="1" max="9"
                                                class="form-control business-impact-input"
                                                onchange="calculateImpact('{{ threat.Threat_ID }}')">
                                        </row>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </form>
    </div>
{% endblock content %}

{% block javascripts %}
<script type="text/javascript">
    var threatData = JSON.parse('{{ threat_data_json | tojson | safe }}');
    var component_id = "{{ component_id }}";
    var selected_macm = "{{ selected_macm }}";
</script>
<script type="text/javascript" src="{{ config.ASSETS_ROOT }}/js/pages/risk_analysis/macm-detail-risk.js"></script>
{% endblock javascripts %}