{% extends "layouts/base.html" %}

{% block title %} Risk Analysis {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <span class="material-symbols-outlined align-top breadcrumb-icon">
                                home
                            </span>
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Risk Analysis</li>
                </ol>
            </nav>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">

            <div class="card border-0 shadow mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2 class="h4 mb-0">Risk Analysis</h2>
                </div>

                <div class="card card-body border-0 shadow mb-4 mb-xl-0">
                    {% if risk_analyses is not none %}
                        <ul class="list-group list-group-flush">
                            {% for risk_analysis in risk_analyses %}
                                <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                                    <div class="d-flex align-items-center">
                                        <h1 class="display-9 mb-1">{{ risk_analysis.AppName }}</h1>
                                        <h6><span class="badge bg-time bg-small rounded-pill ms-3">{{ risk_analysis.CreatedAt.strftime('%d/%m/%Y %H:%M') }}</span></h6>
                                    </div>
                                    <div>
                                        {% if usersPerApp[risk_analysis.AppID] | length > 1 and current_user.id == owners[risk_analysis.AppID] %}
                                            <span class="badge bg-shared rounded-pill me-2">Shared</span>
                                        {% elif current_user.id != owners[risk_analysis.AppID] %}
                                            <span class="badge bg-shared rounded-pill me-2">
                                                Shared by {{ users_dict[owners[risk_analysis.AppID]] }}
                                            </span>
                                        {% endif %}
                                        <a class="btn btn-secondary btn-sm" href="/risk_analysis/macm_riskRating?app_id={{risk_analysis.AppID}}"  role="button">
                                            <i class="fas fa-eye mr-auto"></i>
                                            View
                                        </a>
                                        <a href="/macm" class="btn btn-primary btn-sm text-white">
                                            <i class="fas fa-th mr-auto"></i>
                                            Manage
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            <h5 class="alert-heading">No Risk analysis</h5>
                            <p>No data available, please upload a MACM</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include 'macm/modals/edit_macm_modal.html' %}
    {% include 'macm/modals/delete_modal.html' %}
    {% include 'macm/modals/share_macm_modal.html' %}
    {% include 'macm/modals/unshare_macm_modal.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript">
        var usersPerApp = JSON.parse('{{ usersPerApp | tojson }}');
    </script>
{% endblock javascripts %}