{% extends "layouts/base.html" %}

{% block title %} STRIDE Impact Evaluation {% endblock title %}

{% macro risk_factors(factor, label, stride_impact_previous_factor_results, description) %}
<div class="row border-bottom">
    <div class="col my-3 align-self-center">
        <strong>STRIDE:</strong> <span class="fw-bold">{{factor}}</span><br>
        <strong>Description:</strong>
        <span>{{description}}</span>
    </div>
    <div class="col my-3 align-self-center">
        <div class="mb-2 fs-5">How much impact does a {{factor}} threat have on application?</div>
        <div class="input-group mb-3">
            <div class="input-group-text">Financial damage</div>
            <div class="input-group-text"><i class="fa fa-info-circle" aria-hidden="true" data-bs-toggle="tooltip" title="How much financial damage will result from an exploit? Less than the cost to fix the vulnerability (1), minor effect on annual profit (3), significant effect on annual profit (7), bankruptcy (9)"></i></div>
            <input type="number" min="1" max="9" value="{{ stride_impact_previous_factor_results[0] }}" name="{{label}}_financialdamage" class="form-control">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-text">Reputation damage</div>
            <div class="input-group-text"><i class="fa fa-info-circle" aria-hidden="true" data-bs-toggle="tooltip" title="Would an exploit result in reputation damage that would harm the business? Minimal damage (1), Loss of major accounts (4), loss of goodwill (5), brand damage (9)"></i></div>
            <input type="number" min="1" max="9" value="{{ stride_impact_previous_factor_results[1]}}" name="{{label}}_reputationdamage" class="form-control">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-text">Non-compliance</div>
            <div class="input-group-text"><i class="fa fa-info-circle" aria-hidden="true" data-bs-toggle="tooltip" title="How much exposure does non-compliance introduce? Minor violation (2), clear violation (5), high profile violation (7)"></i></div>
            <input type="number" min="1" max="9" value="{{ stride_impact_previous_factor_results[2]}}" name="{{label}}_noncompliance" class="form-control">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-text">Privacy violation</div>
            <div class="input-group-text"><i class="fa fa-info-circle" aria-hidden="true" data-bs-toggle="tooltip" title="How much personally identifiable information could be disclosed? One individual (3), hundreds of people (5), thousands of people (7), millions of people (9)"></i></div>
            <input type="number" min="1" max="9" value="{{ stride_impact_previous_factor_results[3]}}" name="{{label}}_privacyviolation" class="form-control">
        </div>
    </div>
</div>
{% endmacro %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
        <div class="d-block mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a href="/apps/static">
                            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/risk_analysis">Risk Analysis</a></li>
                    <li class="breadcrumb-item"><a href="/risk_analysis/macm_riskRating?app_id={{ appId }}">Risk Rating</a></li>
                    <li class="breadcrumb-item active" aria-current="page">STRIDE Impact Evaluation</li>
                </ol>
            </nav>
        </div>
    </div>

    <form id="questionnaire-form" method="POST" action="/risk_analysis/stride_impact_evaluation">
        <input type="hidden" name="appId" value="{{ appId }}">
        <div class="card border-0 shadow mb-3">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="mb-0">{{ app_info.Name }} Stride Impact Evaluation</h4>
                {% if stride_impact_previous_results.Updated_at %}
                <p class="mb-0 text-muted">Evaluation already performed at: {{ stride_impact_previous_results.Updated_at }}</p>
                {% endif %}
            </div>
            <div class="card-body">
                {{ stride_impact_previous_results_list }}
                <div class="">
                    {{ risk_factors("Spoofing", "spoofing", stride_impact_previous_results.spoofing, "Threats related to the interception of data in transit.") }}
                    {{ risk_factors("Tampering", "tampering", stride_impact_previous_results.tampering, "Threats related to data manipulation.") }}
                    {{ risk_factors("Repudiation", "reputation", stride_impact_previous_results.reputation, "Threats related to the denial of actions.") }}
                    {{ risk_factors("Information Disclosure", "information_disclosure", stride_impact_previous_results.information_disclosure, "Threats related to the exposure of information to unauthorized parties.") }}
                    {{ risk_factors("Denial of Service", "dos", stride_impact_previous_results.dos, "Threats related to the interruption of service to authorized users.") }}
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}
<script type="text/javascript" src="{{ config.ASSETS_ROOT }}/js/pages/risk_analysis/stride-impact-risk.js"></script>
{% endblock javascripts %}
