{% extends "layouts/base.html" %}
{% block title %}Threat Agent Wizard{% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a href="/apps/static">
                            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/risk_analysis">Risk Analysis</a></li>
                    <li class="breadcrumb-item"><a href="/risk_analysis/macm_riskRating?app_id={{ appId }}">Risk Rating</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Threat Agent Wizard</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="col-12">
        <form id="questionnaire-form" method="POST" action="/risk_analysis/submit-questionnaire">
            <div class="card border-0 shadow mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">{{ app_info.Name }} Threat Agent Questionnaire</h4>
                </div>
                <div class="card-body">
                    <input type="hidden" name="appId" value="{{ appId }}">

                    {% for question in questions_replies %}
                    <div class="mb-4">
                        <h3 class="h5 mb-3">{{ question.question }}</h3>
                        <ul class="list-unstyled">
                            {% for reply in question.replies %}
                            <li class="mb-2">
                                <div class="form-check">
                                    {% if reply.multiple == 1 %}
                                    <input type="checkbox"
                                        class="form-check-input" name="question_{{ question.id }}[]" value="{{ reply.id }}" id="question_{{ question.id }}_{{ reply.id }}">
                                    {% else %}
                                    <input type="radio" class="form-check-input" name="question_{{ question.id }}" value="{{ reply.id }}" id="question_{{ question.id }}_{{ reply.id }}">
                                    {% endif %}
                                    <label class="form-check-label" for="question_{{ question.id }}_{{ reply.id }}">{{ reply.details }}</label>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}

                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

{% block javascripts %}
<script type="text/javascript" src="{{ config.ASSETS_ROOT }}/js/pages/risk_analysis/threat-agent-wizard.js"></script>
{% endblock javascripts %}
