{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-body border-0 shadow mb-4 mb-xl-0">
                <h2 class="h5 mb-4">Database Settings</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Reload Capec</h3>
                            <p class="small pe-4">Reload Capec Database</p>
                        </div>
                        <div>
                            <button class="btn btn-secondary btn-sm reload_databases" id="ReloadCapec" onclick="reloadDatabases('Capec')">
                                <span>Reload</span>
                            </button>
                        </div>
                    </li>
                    <li class="list-group-item px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Upload/Download Excel</h3>
                            <p class="small pe-4">Upload/Download the Excel file containing the threats, the methodologies and the tools.</p>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-text">Uploaded File</div>
                            <input type="text" class="form-control" id="uploadedExcel" placeholder="No file uploaded" readonly value="{{ excel_file }}">
                            <div class="input-group-text">Last Modified</div>
                            <input type="text" class="form-control" id="lastModifyExcel" placeholder="No file uploaded" readonly value="{{ last_modified }}">
                            <button class="btn btn-secondary" type="button" id="downloadExcel" onclick="downloadExcel()">
                                <i class="fas fa-download"></i>
                                Download
                            </button>
                        </div>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="excelFile" aria-describedby="uploadExcel" aria-label="Upload">
                            <button class="btn btn-secondary" type="button" id="uploadExcel" onclick="uploadExcel()">
                                <i class="fas fa-upload"></i>
                                Upload
                            </button>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Reload Threat Catalogue</h3>
                            <p class="small pe-4">Reload Threat Catalogue Database</p>
                        </div>
                        <div>
                            <button class="btn btn-secondary btn-sm reload_databases" id="ReloadThreatCatalog" onclick="reloadDatabases('ThreatCatalog')">
                                <span>Reload</span>
                            </button>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Reload Asset Types Catalogue</h3>
                            <p class="small pe-4">Reload Asset Types Database</p>
                        </div>
                        <div>
                            <button class="btn btn-secondary btn-sm reload_databases" id="ReloadAssetTypesCatalog" onclick="reloadDatabases('AssetTypesCatalog')">
                                <span>Reload</span>
                            </button>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Reload Tool Catalog</h3>
                            <p class="small pe-4">Reload Tool Catalog Database</p>
                        </div>
                        <div>
                            <button class="btn btn-secondary btn-sm reload_databases" id="ReloadToolCatalog" onclick="reloadDatabases('ToolCatalog')">
                                <span>Reload</span>
                            </button>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Reload Methodology Catalog</h3>
                            <p class="small pe-4">Reload Methodology Catalog Database</p>
                        </div>
                        <div>
                            <button class="btn btn-secondary btn-sm reload_databases" id="ReloadMethodologyCatalog" onclick="reloadDatabases('MethodologyCatalog')">
                                <span>Reload</span>
                            </button>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Reload Risk Analysis Catalogs</h3>
                            <p class="small pe-4">Reload Risk Analysis Catalogs Database</p>
                        </div>
                        <div>
                            <button class="btn btn-secondary btn-sm reload_databases" id="ReloadRiskAnalysisCatalog" onclick="reloadDatabases('RiskAnalysisCatalog')">
                                <span>Reload</span>
                            </button>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">Test</h3>
                            <p class="small pe-4">Trigger function</p>
                        </div>
                        <div>
                            <button class="btn btn-secondary btn-sm" id="TestButton" onclick="test()">Test</button>
                        </div>
                    </li>
                    <li class="list-group-item d-flex align-items-center justify-content-between px-0">
                        <div>
                            <h3 class="h6 mb-1">Penetration Test Rerport Prompt</h3>
                            <p class="small pe-4">Set the prompt for the penetration test report</p>
                            <p class="small pe-4">Current prompt: <span id="PenTestPrompt">{{ settings.get('pentest_report_prompt') }}</span></p>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-setting-name="Pentest Report Prompt" data-bs-setting-key="pentest_report_prompt" data-bs-setting-value="{{ settings.get('pentest_report_prompt') }}" data-bs-target="#editSettingModal">Edit</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>

{% endblock content %}

{% include 'admin/modals/edit_setting_modal.html' %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript" src="{{ config.ASSETS_ROOT }}/js/pages/settings.js"></script> 
{% endblock javascripts %}
