{% set threat_name = attack.Threat | regex_replace("[^A-Za-z0-9]","") %}
{% set attack_pattern_name = attack.Attack_Pattern | regex_replace("[^A-Za-z0-9]","") %}
{% set attack_tool_name = attack.Tool_Name | regex_replace("[^A-Za-z0-9]","") %}
{% set attack_name = [threat_name, attack_pattern_name, attack_tool_name] | join('_') %}

<div class="accordion-item">
    <div class="accordion-header d-flex align-items-center" id="heading{{attack.Attack_Number}}">
        <div class="accordion-button" type="button" role="button" data-bs-toggle="collapse" data-bs-target="#collapse{{attack.Attack_Number}}" aria-expanded="true" aria-controls="collapse{{attack.Attack_Number}}">
            <h2 class="me-2 mt-n1"><span class="badge bg-secondary"><span class="material-symbols-outlined">swords</span> Attack {{ attack.Attack_Number }}</span></h2>
            <h2 class="h5">
                <span class="badge bg-macm"> <span class="material-symbols-outlined">target</span> {{ attack.Asset }}</span>
                <i class="fas fa-chevron-right"></i>
                <span class="badge bg-threat"> <span class="material-symbols-outlined">destruction</span> {{attack.Threat_ID}}-{{ attack.Threat }}</span>
                <i class="fas fa-chevron-right"></i>
                <a class="badge bg-capec" href="/catalogs/capec-detail?id={{attack.Capec_ID}}"> <span class="material-symbols-outlined">pattern</span> {{attack.Capec_ID}}-{{attack.Attack_Pattern}}</a>
                <i class="fas fa-chevron-right"></i>
                <span class="badge bg-tool"> <span class="material-symbols-outlined">construction</span> {{ attack.Tool_Name }}</span>
            </h2>
        </div>
    </div>
    <div id="collapse{{attack.Attack_Number}}" class="accordion-collapse collapse show">
        <div class="accordion-body attack-body-bg">
            <div class="accordion shadow" id="accordion{{attack.Attack_Number}}">
                {% include 'penetration_tests/macm-detail/capec_description.html' %}
                {% include 'penetration_tests/macm-detail/threat_description.html' %}
                {% include 'penetration_tests/macm-detail/execution_flow.html' %}
                {% include 'penetration_tests/macm-detail/code.html' %}
            </div>
        </div>
    </div>
</div>