{% if attack.Command %}
<div class="accordion-item">
    <div class="accordion-header" id="heading{{attack.Attack_Number}}Command">
        <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{attack.Attack_Number}}Command" aria-expanded="true" aria-controls="collapse{{attack.Attack_Number}}Command">
            <h2 class="h6 mb-0">
                Command
            </h2>
        </div>
    </div>
    <div id="collapse{{attack.Attack_Number}}Command" class="accordion-collapse collapse show">
        <div class="accordion-body">
            {% if attack.Tool_Description != '' and attack.Tool_Description != None and attack.Tool_Description != 'None' %}
                <p class="mb-2">{{ attack.Tool_Description }}</p>
            {% endif %}
            <div class="input-group mb-3 command">
                {% for part in attack.Command|regex_split("({.*?})") %}
                    {% if not part.isspace() and part != '' %}
                        {% if '{' in part %}
                            {% set parameter = part|safe_substitute(attack.Parameters) %}
                            {% set label = part|regex_replace("[{}]", "") %}
                            <div class="form-floating">
                                <input type="text" class="form-control command-input" id="floatingInputValue" placeholder="{{ label }}" value="{{ parameter if parameter != part }}">
                                <label for="floatingInputValue">{{ label }}</label>
                            </div>
                        {% else %}
                            <span class="input-group-text command-input">{{ part }}</span>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <button type="button" class="btn btn-secondary" onclick="copySingleCommand($(this))"><i class="fas fa-copy"></i></button>
            </div>
            {% if attack.Allowed_Report_Extensions is not none %}
                <h3 class="h6">Report</h3>
                <p class="mb-2">Upload the report file. The allowed file extensions are: 
                    {% for extension in attack.Allowed_Report_Extensions %}
                        {{ extension }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <div class="input-group mb-3 report-file">
                    <span class="input-group-text">Report File</span>
                    <input type="file" class="form-control" id="reportFile" accept="{{ attack.Allowed_Report_Extensions|join(',') }}" macmID="{{ attack.AppID }}" componentID="{{ attack.Component_ID }}" toolID="{{ attack.Tool_ID }}">
                    <button type="button" class="btn btn-secondary" id="uploadReportFile"><span><i class="fas fa-upload"></i>Upload</span></button>
                </div>
                <div class="col-auto">
                    <label class="visually-hidden" for="uploadedReport">Uploaded Report</label>
                    <div class="input-group">
                        <div class="input-group-text">Uploaded Report</div>
                        <input type="text" class="form-control" id="uploadedReport" placeholder="No file uploaded" readonly value="{{ attack.ReportFiles.filename if attack.ReportFiles }}">
                        {% if attack.ReportFiles %}    
                            {% if attack.Report_Parser %}
                                <button type="button" class="btn btn-primary" id="parseReportFile" onclick="parseReportFile(this, '{{ attack.AppID }}', '{{ attack.Component_ID }}', '{{ attack.Tool_ID }}', '{{ attack.Report_Parser }}')">
                                    <span>Parse</span>
                                </button>
                            {% endif %}
                            <button type="button" class="btn btn-secondary" id="downloadReportFile" onclick="downloadReportFile('{{ attack.AppID }}', '{{ attack.Component_ID }}', '{{ attack.Tool_ID }}')"><i class="fas fa-download"></i> Download</button>
                            <button type="button" class="btn btn-danger" id="deleteReportFile" onclick="confirmDeleteReportFile('{{ attack.AppID }}', '{{ attack.Component_ID }}', '{{ attack.Tool_ID }}', '{{ attack.ReportFiles.filename }}')"><i class="fas fa-trash"></i> Delete</button>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
